.certs-card {
    padding-left: 15rem;
    padding-right: 15rem;
    border-radius: 0;
    border: none;
    background-color: #8e6e92;
}

.enlarge {
    width: 75%;
    height: 75%;
    -webkit-transition-property: width, height;
    -webkit-transition-duration: 2s;
    transition-property: width, height;
    transition-duration: 2s;
}
