.App {
  text-align: center;
  max-width: 100%;
}

body {
  font-family: 'Oxygen', sans-serif;
}

.list-style-none {
  list-style-type: none;
}
/* button styles */

.button-gradient {
  background: rgb(182,34,195);
  background: linear-gradient(75deg, rgb(192, 55, 205) 0%, rgba(253,163,45,1) 100%);
  border: none
}

.text-gradient {
  background-image: linear-gradient(75deg, rgba(253, 163, 45, 1) 0%, rgb(241, 105, 253)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background: #fcfcf7;
  transition: color 0.3s;
}

.button:hover {
  color: #fcfcf7;
}

/* text styles */

.main-text {
  color: #fcfcf7;
}

/* misc */

/* .custom-shape {
  position: absolute;
  top: 5%;
  left: 1050px;
  width: 275px;
  height: 175px;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 45% 95% 90% 60%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgba(182, 34, 195, 1) 0%, rgba(253, 163, 45, 1) 100%);
}

.custom-shape-b {
  position: absolute;
  top: 150px;
  left: 135px;
  width: 350px;
  height: 185px;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 305% 4% 90% 100%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgba(182, 34, 195, 1) 0%, rgba(253, 163, 45, 1) 100%);
} */

.custom-shape {
  position: relative;
  width: 15%;
  left: 13%;
  height: auto;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 45% 95% 35% 60%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgba(182, 34, 195, 1) 0%, rgba(253, 163, 45, 1) 100%);
}

.custom-shape:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.custom-shape .shape-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-shape-b {
  position: relative;
  width: 10%;
  right: 13%;
  height: auto;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 135% 65% 90% 185%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgba(182, 34, 195, 1) 0%, rgba(253, 163, 45, 1) 100%);
}

.custom-shape-b:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.custom-shape-b .shape-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
